In [10]:
import jenkspy
import pandas as pd

In [11]:
df_11_12 = pd.read_csv('dissimilarity_11_12.csv', dtype={'LEAID':str})
df_13_14 = pd.read_csv('dissimilarity_13_14.csv', dtype={'LEAID':str})
df_15_16 = pd.read_csv('dissimilarity_15_16.csv', dtype={'LEAID':str})

In [12]:
df_11_12

,LEAID,YEAR,d_wh_bl,d_wh_as,d_wh_am,d_wh_tr,d_wh_hp,d_wh_hi
0,0100005,2011-12,0.089924,0.085290,0.394366,0.383412,NaN,0.189489
1,0100007,2011-12,0.131596,0.177925,0.548135,0.154384,0.310346,0.294167
2,0100008,2011-12,0.055366,0.128695,0.205811,0.221983,0.190846,0.168190
3,0100120,2011-12,0.055468,0.281955,0.432868,0.316327,0.758861,0.139720
4,0100190,2011-12,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2844,5601980,2011-12,0.236865,0.201382,0.222108,0.213396,0.192335,0.206062
2845,5602870,2011-12,0.224878,0.210868,0.190960,0.103914,NaN,0.094543
2846,5604510,2011-12,0.272156,0.227567,0.326868,0.330308,0.580203,0.223191
2847,5605220,2011-12,0.384576,0.145963,0.099047,0.224910,0.354037,0.236127
2848,5605302,2011-12,0.202587,0.236142,0.204361,0.336786,0.628929,0.187366

In [13]:
list_of_values = df_11_12['d_wh_bl']

In [14]:
breaks = jenkspy.jenks_breaks(list_of_values, nb_class=6)

/Users/cave/miniconda3/lib/python3.7/site-packages/jenkspy/core.py:64: UserWarning: Invalid values encountered (NaN or Inf) were ignored
  warnings.warn('Invalid values encountered (NaN or Inf) were ignored')

In [15]:
breaks

[0.0,
 0.13107028175475022,
 0.20385711421697789,
 0.2908086057272943,
 0.4031890660592255,
 0.5527762262618057,
 0.8457644908685261]